.default-images-list-img{
    width: 15vh;
    object-fit: contain;
}

.add-default-image-img-box{
    width: 20vw;
    height: 20vw;
}

.add-default-image-inside-img{
    width: 19vw;
    height: 19vw;
    object-fit: contain;
}
