.loading-section{
    width: 100%;
    height: 20vh;
    background-color: whitesmoke;
    margin-top: 2vh;
}

.course-img{
    width: 100%;
    height: 13vmin;
    object-fit: contain;
}

.course-card{
    background-color: rgb(252, 252, 252);
    border: 1px #F0F0F0 solid;
    border-radius: 0.5em;
}

.course-card-internal{
    margin: 4px;
}

.course-title-view{
    font-size: x-large;
}

.map-search-bar{
    width: 20vw;
    min-width: 250px;
    margin-top: 0.25vh;
    margin-bottom: 1.5vh;
    border: 1px solid #0275d8;
}

.map-box{
    padding: 0px 0;
    border: 1px #F0F0F0 solid;
    border-radius: 0.5em;
}

.map-box-internal{
    margin: 0.5vmin;
}

.map-index-section{
    width: 5%;
    text-align: center;
}

.map-info-section{
    width: 90%;
}

.map-action-section{
    margin-right: 2%;
}

p{
    margin: 0;
}

.course-view-map-img{
    height: 20vw;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.course-view-map-img-small{
    height: 8vw;
    object-fit: contain;
}


.course-view-map-bpr-code{
    width: 15vw;
}


.course-view-map-bpr-selected{
    width: 100%;
    background-color: whitesmoke;
}


.map-title{
    min-width: 200px;
    max-width: 21vw;
    font-size: medium;
}

