.add-question-explanation-upload-pdf{
    width: 10vw;
    height: 14.14vw;
    justify-content: center;
}

.add-question-explanation-upload-pdf-internal{
    width: 9vw;
    height: 12.72vw;
    justify-content: center;
}

.reassign-questions-select-info{
    width: 10vw;
}
