.edit-fbd-vt-term-association-ob{
    padding: 20px;
}


.fbd-question-add-image-inside{
    width: 39vw;
    height: 19vw;
    object-fit: contain;
}

.fbd-question-add-image-container{
    width: 40vw;
    height: 20vw;
}
