<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- Self-contained publish produces QuizAPI.exe -->
      <!-- stdout logs must go to a writable path (wwwroot is read-only with WEBSITE_RUN_FROM_PACKAGE=1) -->
      <aspNetCore processPath=".\QuizAPI.exe"
                  arguments=""
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%HOME%\LogFiles\stdout"
                  />
    </system.webServer>
  </location>
</configuration>

