.questionnaire-statistics-card{
    padding: 0.25vw;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 0.25em;
    background-color: rgb(250, 250, 250);
    margin-left: 0.5vw;
}

.questionnaire-view-edit-tabs{
    width: 100%;
}

.questionnaire-question-image{
    width: 8vw;
    height: 100%;

    object-fit: contain;
    margin: 0.5vmin;

    cursor: zoom-in;

    border: 1px solid rgba(180, 180, 180, 0.5);

    border-radius: 0.25em;
}

.questionnaire-question-choice-image{
    width: 10vw;
    height: 100%;

    object-fit: contain;
    padding: 0.5vmin;

    cursor: zoom-in;
}

.questionnaire-question-image-zoom{
    width: 30vw;
    height: 30vw;

    object-fit: contain;
}

.questionnaire-question-choice-line{
    padding: 0.5vmin;
    background-color: rgb(250, 250, 250);

    width: 100%;
    border-radius: 0.25em;

    margin-bottom: 1vh;

    align-items: flex-start;
    display: flex;

    border: 1px solid rgb(230, 230, 230);
}

.questionnaire-view-edit-speration-area{
    width: 5vw;
}

.questionnaire-view-edit-choice-line-stat-index{
    color: #0274d8;
    background-color: #0274d826;
    border: 1px solid #0274d895;

    font-weight: 600;

    display: flex;
    width: fit-content;
    min-width: 1rem;
    padding: 0.0725rem;
    align-items: center;  
    justify-content: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;  
}


.questionnaire-view-edit-choice-line-stat-seperation{
    width: 1.25vw;
}

.questionnaire-view-edit-history-seperation{
    width: 1vw;
}

.questionnaire-view-edit-frequency-bar{
    width: 40%;
}

